{% extends 'website/base.html' %}
{% load static %}

{% block title %}{{ about_content.title }} | SchoolProject{% endblock %}

{% block content %}
<div class="bg-gray-50 py-8">
    <div class="container mx-auto px-4">
        <h1 class="text-4xl md:text-5xl font-bold text-center text-[var(--color-primary)] mb-8">{{ about_content.title }}</h1>
        
        {% include 'component/home/Hero.html' %}

        {% include 'component/about/history.html' with history=about_content.history %}
        {% include 'component/about/brief_info.html' with brief_info=about_content.brief_info %}
        {% include 'component/about/principal_message.html' with principal_message=about_content.principal_message %}
        {% include 'component/about/approval.html' with approval=about_content.approval %}
        {% include 'component/about/recognition.html' with recognition=about_content.recognition %}
        {% include 'component/about/aims.html' with aims=about_content.aims %}
        {% include 'component/about/news_links.html' with news_links=about_content.news_links %}
    </div>
</div>
{% endblock %}